<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> User Profile </h3>

                <p>
                    <strong>NAME</strong>: <%= user.google.name %><br>
                    <strong>EMAIL</strong>: <%= user.google.email %><br>
                </p>

                <ul>
                    <% for(var i = 0; i < user.codes.length; i++) { %>
                    <li>
                        <a href='<%= user.codes[i].link %>'>
                            <%= JSON.stringify(user.codes[i].code) %>
                        </a>
                        <%= JSON.stringify(user.codes[i].name) %>
                    </li>
                    <% } %>
                </ul>

            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Create new Deck </h3>

                <form action="/createDeck" method="post">
                    Name: <br>
                    <input type="text" name="newDeckName"><br>
                    Link to Spreadsheet: <br>
                    <input type="url" name="newDeckLink"><br>
                    <input type="submit" name="newDeckCreate" value="Create!">
                </form>

            </div>
        </div>

    </div>

</div>
</body>
</html>