<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Teacher Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger">Teacher Profile </h3>

                <p>
                    <strong>Name</strong>: <%= user.google.name %><br>
                    <strong>Email</strong>: <%= user.google.email %><br>
                    <strong>Access Codes</strong>: <br>
                </p>

                <table border="2">
                    <tr>
                        <th>Access Code</th>
                        <th>Deck Name</th>
                        <th>Link</th>
                        <th>Statistics</th>
                    </tr>

                    <% for (var i = 0; i < user.codes.length; i++) { %>
                    <tr>
                        <td><%= user.codes[i].code %></td>
                        <td><%= user.codes[i].name %></td>
                        <% var link = user.codes[i].link; %>
                        <td><a href='<%= link %>'> Edit the deck </a></td>
                        <TD><a href="../studentStats/<%= user.codes[i].code %>"> View student activity </a></TD>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-pencil-square"></span> Create new Deck </h3>

                <form action="/createDeck" method="post">
                    Name: <br>
                    <input type="text" name="newDeckName" size="42"><br>
                    Link to Spreadsheet: <br>
                    <input type="url" name="newDeckLink" size="42"><br>
                    <input type="submit" name="newDeckCreate" value="Create!">
                </form>

            </div>
        </div>

    </div>

</div>
</body>
</html>